<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nowe Złoszenie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="css/rain.css">
</head>
<body>
    <div class="container">
        <article  style="color: blanchedalmond; font-size: 80px" align="center">Wprowadź Nowe Zgłoszenie</article>
        <form style="color: blanchedalmond" action="#" th:action="@{log}" th:object="${log}" method="post">

            <p>Nazwa: <input style="color: black" type="text" th:field="*{name}" />
                <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></p>

            <p>Opis: <input style="color: black" type="text" th:field="*{description}" />
                <span style="color: red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span></p>

            <p><input input style="color: black" type="submit" value="Submit" /> <input input style="color: black"  type="reset" value="Reset" /></p>
        </form>
    </div>
</body>
</html>