<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wpisy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <script src="../static/js/tableRecords.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 600px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        .view {
            background: url("/img/mainBackground.jpg") no-repeat center center;
            background-size: cover;
        }

        html,
        body,
        header,
        .view {
            height: 100%;
        }

        .left {
            margin: auto;
            width: 100%;
            padding: 0%;
            text-align-last: center;
        }
    </style>
</head>
<body>

<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index" style="font-size: 20px">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log" style="font-size: 20px">Nowy wpis</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/records" style="font-size: 20px">Dziennik<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stat" style="font-size: 20px">Statystyki</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="view intro-2">
        <div class="left">

            <article style="color: blanchedalmond; font-size: 30px" align="center">Wpisy</article>

            <script>
                $(document).ready(function () {
                    $('#dtBasicExample').DataTable();
                    $('.dataTables_length').addClass('bs-select');
                });
            </script>


            <div class="container my-2">
                <div class="card">
                    <div class="card-body">
                        <div th:switch="${logs}" class="container my-5">

                            <div class="my-custom-scrollbar" style="alignment: center">
                                <h2 th:case="null">Brak wpisów</h2>
                                <div th:case="*">
                                    <table id="dt-material-checkbox" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Data zgłoszenia</th>
                                            <th class="text-center">Źródło</th>
                                            <th class="text-center">Rodzaj operacji</th>
                                            <th class="text-center">Opis podjetych czynności</th>
                                            <th class="text-center">Wykonawca</th>
                                            <th class="text-center">Współwykonawca</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Data zakończenia zgłoszenia</th>
                                            <th class="text-center">Edytuj wpis</th>
                                            <th class="text-center">Usuń wpis</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="log : ${logs}">
                                            <td class="th-sm" th:text="${log.entryDate}"></td>
                                            <td class="th-sm" th:text="${log.source}"></td>
                                            <td class="th-sm" th:text="${log.opType}"></td>
                                            <td class="th-sm" th:text="${log.description}"></td>
                                            <td class="th-sm" th:text="${log.admin}"></td>
                                            <td class="th-sm" th:text="${log.coAdmin}"></td>
                                            <td class="th-sm" th:text="${log.status}"></td>
                                            <td class="th-sm" th:text="${log.endDate}"></td>
                                            <td><a th:href="@{/log/update/{id}(id=${log.id})}" class="btn btn-primary">Edytuj
                                                wpis<i class="fas fa-log-edit ml-2"></i></a></td>
                                            <td><a th:href="@{/log/delete/{id}(id=${log.id})}"
                                                   class="btn btn-primary">Usuń wpis<i
                                                    class="fas fa-log-times ml-2"></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>

</body>
</html>
