<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nowe Złoszenie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
        .view {
            background: url("/img/mainBackground.jpg") no-repeat center center;
            background-size: cover;
        }

        html,
        body,
        header,
        .view {
            height: 100%;
        }

        .left {
            margin: auto;
            width: 100%;
            padding: 15%;
            text-align-last: center;
            font-size: 40px;
        }

    </style>

</head>
<body>
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index" style="font-size: 20px">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log" style="font-size: 20px">Nowy wpis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/records" style="font-size: 20px">Dziennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stat" style="font-size: 20px">Statystyki</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="view intro-2">
        <div class="left">
            <div class="container" >
                <article style="color: blanchedalmond; font-size: 80px" align="center">Operacja powiodła się!</article>
                <div class="card" style="background-color: transparent">
                    <div class="card-body" style="color: blanchedalmond">
                        <a style="color: blanchedalmond; font-size: 30px" align="center" href="##"
                           onClick="history.go(-1); return false;">Powrót</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>


</body>
</html>